/* --------------------------PARTE COMÚM------------------- */
body {
    font-family: 'Inter', sans-serif;
    color: rgb(0,0,0);
    margin: 0;
}

a:visited, a, a:hover  {
    text-decoration:none;
}

header a:visited, a, a:hover  {
    color: rgb(0,0,0);
}

header, nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 0;
}

header
{
    width: 80%;
    max-width: 1140px; 
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 80px;
    margin-top: 15px;
}

h1 {
    flex-grow: 1;
}
nav ul li{
    text-decoration: none;
    display: inline-block;
    padding-right: 1em;
    text-align: center;
    font-weight: 700;
    line-height: 150%;
}

nav ul li:last-child {
    padding-right: 0;
  }

nav ul li a:visited, nav ul li a{
    text-decoration:none;
    color: rgb(93, 95, 121) ;
}

nav ul li a:hover{
    color: rgb(245, 157, 35) ;
}

@media all and (max-width: 1000px)
{
    nav ul,header{
        flex-direction: column;
        align-items: center;
    }
    nav ul{
        padding: 0;
    }
    nav ul li{
        padding-right: 0px;
        
    }
}

h1{
    font-size: 0.8em;
}

.container, .containerReferentes, .container11Feb, .containerIniciativas
{
    line-height: 150%;
    width: 90%; 
    max-width: 1140px; 
    margin-left: auto; 
    margin-right: auto;
    
}

/* --------------------------CONTENIDO INDEX------------------- */

.mujCienc figure{
    background-color: rgb(240, 93, 80);
    margin: 0 0 0 0;
    width: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.mujCienc figure img{
    width: 80%;
    max-width: 200px;
}

.mujCienc h2{
    font-size: 1.5em;
    font-weight: 800;
    line-height: 100%;
}
.mujCienc h2,.mujCienc p{
    width: 90%;
}

.mujCienc p{
    margin-top: 0;
}

.mujCienc p:first-of-type{
    margin-bottom: 0.2em;
}

.mujCienc div{
    background-color: rgb(245, 157, 35);
    width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mujCienc{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 5%;
}


.mujCienc a {
    color: black;
    font-size: 0.8em;
}

.mujCienc a:hover {
    color:  rgb(93, 95, 121);
}

@media all and (max-width: 1000px)
{
    .mujCienc{
        flex-direction: column;
    }
    .mujCienc div{
        width:100%;
    }
    .mujCienc figure{
        width:100%;
    }
}

.refCient{
    text-align: center;
}

h2.refCient {
    margin-top: 2em;
    margin-bottom: 0;
}
p.refCient {
    margin-top: 0;
    font-size: 0.8em;
    color: rgb(245, 157, 35);
}

a.refCient:visited, a.refCient, a.refCient:hover  {
    color: rgb(245, 157, 35);
}



.arrow {
    border: solid rgb(245, 157, 35);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.CuadRef figure
{
    margin: 0 0 0 0;
}
.CuadRef figure figcaption
{
    text-align: left;
}
.CuadRef figure figcaption p
{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    color: rgb(93, 95, 121);
}
.CuadRef figure figcaption p:first-child
{
    font-size: 0.8em;
}
.CuadRef figure figcaption p:last-child
{
    font-weight: 700;
}

.CuadRef{
    display: grid;

    --grid-layout-gap: 20px;
    --grid-column-count: 4;
    --grid-item--min-width: 200px;
  
    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    grid-gap: var(--grid-layout-gap);

    /* https://css-tricks.com/an-auto-filling-css-grid-with-max-columns/ */

}

.CuadRef figure img{
    width: 100%;
}

@media all and (max-width: 560px)
{
    .CuadRef figure figcaption
    {
        text-align: center;
    }
}

/* --------------------------CONTENIDO REFERENTES------------------- */

.containerReferentes h2{
    text-align: center;
    font-size: 2.5em;
    line-height: 100%;
}
.gridRef
{
    display: flex;
    flex-direction: row;
    gap: 30px; 
    align-items: stretch;
}
.gridRef ul
{
    width: 20%;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    font-weight: 700;
}

.gridRef li
{
    width: 100%
}

.numbAndIm
{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.element
{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px; 
    align-items: center;
}

.number{
    width: 20%; 
}
.number{
    color: rgb(93, 95, 121);
    font-size: 0.7em;
    font-weight: 700;
}
.number p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.number .ciName {
    font-size: 1.7em;
    font-weight: 700;
}
.number p:first-child{
    color: rgb(240, 93, 80);
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: auto;
}

.imageAndDesc
{
    width: 80%;
}
.imageAndDesc
{
    display: flex;
    flex-direction: row;
    gap: 20px; 
    align-items: center;
}

.descImage {
    width: 70%;
}

.descImage p:first-child{
    margin-bottom: 2px;
    color: rgb(93, 95, 121);
}

.descImage p:not(:first-child){
    margin-top: 2px;
}

.descImage a,.gridRef ul a {
    color: rgb(245, 157, 35)
}
.descImage a:hover, .gridRef ul a:hover {
    color:  rgb(93, 95, 121);
}

.imageAndDesc img{
    width: 30%;
    height: auto;
}

@media all and (max-width: 1000px)
{
    .gridRef
    {
        flex-direction: column;
    }
    .gridRef ul
    {
        width: fit-content;
        color: rgb(245, 157, 35);
        list-style-type: disc; 
        list-style-position: inside; 
        flex-wrap: wrap;
        flex-direction: row;
        gap: 13px;
        justify-content: center;
    }
    .gridRef li::marker
    {
       margin-right: 2px;
    }

    .gridRef li:first-child
    {
        list-style: none;
    }
    
    .gridRef li
    {
        width: fit-content;
        /* width: auto; */
    }
    .gridRef
    {
        align-items: center;
    }
}

@media all and (max-width: 560px)
{
    .element, .imageAndDesc
    {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
    }
    .number, .imageAndDesc img, .numbAndIm, .descImage
    {
        width: 100%;
    }

    .numbAndIm
    {
        gap: 10px;
    }
    .number p:first-child{

        margin-bottom: 10px;

    }

}


/* --------------------------CONTENIDO 11Feb------------------- */

.container11Feb
{
    color: rgb(93, 95, 121);
}


.container11Feb h2{
    text-align: center;
    font-size: 2.5em;
    color: black;
    line-height: 100%;
}
.container11Feb h3{
    text-align: center;
    font-size: 2em;
    color: black;
    line-height: 100%;
}

.container11Feb .ONU{
   background-color : rgb(227, 228, 230);
   color: black;
   padding-top: 1em;
   padding-bottom: 1em;
   width: min(1060px, 100%);
   margin-left: 0;
   margin-top: 0;
   margin: 0 auto;
   display: block;
}

.container11Feb .ONU blockquote,.container11Feb .ONU figcaption {
    margin-left: 1em;
    margin-right: 1em;
}
.container11Feb .ONU figcaption
{
    font-size: 0.7em;

}
.container11Feb .ONU figcaption::before
{
    background-color: rgb(240, 93, 80);
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 20px;
}

.videoEmbed {
    margin-left: 0;
    margin-right: 0;
    width: min(560px,100%);
    margin: auto auto;
}

.videoEmbed iframe {
    margin: auto auto;
    border-style:none;
    width: min(560px,100%);
    height: calc(100vw * 9 / 16);
    max-height: 315px;
}
.videoEmbed figcaption
{
    width: min(560px,100%);
    text-align: left;
}

.videoEmbed figcaption {
    margin-top: 3px;
    font-size: 70%;
    text-align: left;
    margin: auto auto;
}

/* --------------------------CONTEINDO Iniciativas------------------- */

.containerIniciativas
{
    color: rgb(93, 95, 121);
}
.containerIniciativas h2{
    text-align: center;
    font-size: 2.5em;
    color: black;
    line-height: 100%;
}

.containerIniciativas ul{
    width: min(85%,900px);
    margin: 0 auto;
    list-style-type: square;
    /* margin: 0 */
}

.containerIniciativas li::marker{
    font-size: 1.5em;
    color: rgb(240, 93, 80);
    margin-right: 10px;
}

.containerIniciativas li{
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 1.5em;
}
.containerIniciativas p{
    font-size: medium  ;
    font-weight: 400;
    margin-top: 2px;
    margin-bottom: 2px;
}

.containerIniciativas a {
    color: rgb(245, 157, 35)
}
.containerIniciativas a:hover {
    color:  rgb(93, 95, 121);
}


/* --------------------------FIGURAS------------------- */

figure img {
    margin: 0 auto;
    display: block;
    border-style:none;
}

/* --------------------------ESPECIALES------------------- */

.Recalc {
    font-weight: bold;
}

/* --------------------------TABLA------------------- */


/* --------------------------PIE DE PÁGINA------------------- */
footer a:hover, .footerLit a:hover {
    color:  rgb(245, 157, 35)
}

footer img {  
    display: block;  
    margin-left: auto;  
    margin-right: auto; 
}  

footer a, .footerLit a,.footerLit a:visited{
    color:  rgb(255, 255, 255)
}
footer .mailTop
{
    margin-top: 10px;
    font-size: 0.8em;
}

footer ul {
    margin-top: min(5%,30px);
    margin-bottom: min(5%,30px);
    list-style: none;
    padding-inline-start: 0;
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
}
footer ul li {
    display: inline-block;
    margin: 0 0 5px 10px;
}

@media all and (max-width: 560px)
{
    footer ul {
        flex-direction: column;
    }
}

footer button {
    background-color:  rgb(240, 93, 80);
    color:  rgb(255, 255, 255)
}
footer form p:first-child input
{
    height: 3em;
}
footer form ::placeholder { 
    text-align: center;
}
footer form button {
    padding: 5px 7px 5px 7px;
}
footer form p:first-child
{
    margin-bottom: 5px;
}
footer form .privPol
{
    margin-top: 0;
    font-size: 0.8em;
}
footer form p:first-child input{
    background-color: black;
    width: min(500px, 90%);
    border-width:0;
    border-bottom-width: 1px;
    border-color: white;
}
footer{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-align: center;
    background-color: black;
    margin-top: 50px;
}

.footerLit{
    font-size: 0.5em;
}